/*
Main
*/

:root {
    --primario:#eb7e8a;
    --blanco:#ffffff;
    --secundario:#0097A7;
    --font-principal: 3.8rem;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-size: 40px;
}
.texto-generico {
  font-size: 2.5rem;
}
.texto-footer {
  font-size: small;
}
/* 1rem == 10px  Para que los rem's se adapten mejor para tv's, tablet, iphone, etc.*/
.titulo {
  background-image: repeating-linear-gradient(559deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),repeating-linear-gradient(617deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),linear-gradient(400deg, rgb(235,126,138),rgb(235,126,138),rgb(235,126,138),rgb(235,126,138),rgb(235,126,138),rgb(235,126,138),rgb(235,126,138));

    text-align: center;
    font-size: var(--font-principal); /*3.8 rem == 38px*/
}
.titulo span { /* Se aplica a los span's que pertenezcan/estén dentro de un h1 */
    font-size: 2rem;
}
.navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.contenedor {
    width: 120rem;
    margin: 0 auto; /* Es el equivalente a los 4 margin (T,R,B,L) y a margin: 0 auto 0 auto*/
}
.nav-bg {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}
.navegacion-principal a {
    font-weight: 100;
    color: var(--blanco);
    text-decoration: none;
}
.navegacion-principal a:hover { /*Evento(s)*/
    
/*
    background-color: #FFFB7D;    bg amarillo
*/
  color:#000000;
}

.navfont { /*Botones de nav*/
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--blanco);
    padding: 8px 16px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}
/*
Eco woman es x ANIMACION
*/
.text {
    font-family: 'Dosis', sans-serif;

    font-family: 'League Spartan', sans-serif;

    font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}
.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}



/*
body {
    background-image: repeating-linear-gradient(559deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),repeating-linear-gradient(617deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),linear-gradient(400deg, rgb(235,126,138),rgb(235,126,138),rgb(235,126,138),rgb(235,126,138),rgb(235,126,138),rgb(235,126,138),rgb(235,126,138));
}
hay que dejarlo para cuando ya tengamos el body por lo menos del index

 background: rgb(235,126,138);
background: linear-gradient(0deg, rgba(235,126,138,1) 0%, rgba(255,255,255,1) 100%); 


    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);    

*/